<div ng-controller="AlunoController as ctrlAluno">
  <div class="text-right">
    <a href="#" ng-click="ctrlAluno.add()">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      Adicionar novo Aluno
    </a>
  </div>

  <div class="panel panel-primary" ng-show="ctrlAluno.module == 'list'">
    <div class="panel-body">
    
      <div style="width:100%; height:320px; overflow: auto;" class="table-responsive">
        <table class="table table-hover table-responsive">
          <thead>
            <tr>
              <th class="col-md-1">ID</th>
              <th class="col-md-5">Nome</th>
              <th>E-Mail</th>
              <th class="col-md-1 text-center">
                <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
              </th>
            </tr>
          </thead>
          <tbody>
              <tr ng-repeat="aluno in ctrlAluno.lista">
                <td>{{ aluno.id }}</td>
                <td>{{ aluno.nome }}</td>
                <td>{{ aluno.email }}</td>
                <td class="text-center">
                  <a href="#" class="btn btn-xs btn-warning" title="Editar registro...">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                  </a>
                  <a href="#" class="btn btn-xs btn-danger" title="Deletar registro...">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  </a>
                </td>
              </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>


  <div class="panel panel-primary" ng-show="ctrlAluno.module == 'edit'">
      <div class="panel-heading">
        <h3 class="panel-title">Aluno</h3>
      </div>
      <div class="panel-body">
        
        <form ng-submit="ctrlAluno.submit()" name="frmAluno">
        <input type="hidden" name="txtId" ng-model="ctrlAluno.aluno.id">     
          <div class="row">
            <div class="col-md-6">
            <div class="form-group" ng-class="{ 'has-error': frmAluno.txtNome.$invalid && frmAluno.txtNome.$dirty}">
                <label for="id_aluno_nome">Nome:</label>
                <input type="text" 
                       name="txtNome" 
                       class="form-control" 
                       ng-model="ctrlAluno.aluno.nome"
                       required  
                       autofocus 
                       ng-minlength="3"
                       placeholder="Nome...">
                <div class="error text-danger" ng-show="frmAluno.txtNome.$invalid && frmAluno.txtNome.$dirty">
                  <span class="glyphicon glyphicon-warning-sign" ng-show="frmAluno.txtNome.$error.required" aria-hidden="true"></span> 
                  <small ng-show="frmAluno.txtNome.$error.required">Campo obrigatório</small>
                  <small ng-show="frmAluno.txtNome.$error.minlength">Campo deve ter no minimo 3 caracteres</small>
                </div>
              </div>
            </div>
            <div class="col-md-6">
            <div class="form-group" ng-class="{ 'has-error': frmAluno.txtEmail.$invalid && frmAluno.txtEmail.$dirty }">
                <label for="id_aluno_email">E-mail:</label>
                <input type="email" 
                       name="txtEmail" 
                       class="form-control" 
                       ng-model="ctrlAluno.aluno.email"
                       required 
                       placeholder="Email...">
                <div class="error text-danger" ng-show="frmAluno.txtEmail.$invalid && frmAluno.txtEmail.$dirty">
                  <span class="glyphicon glyphicon-warning-sign" ng-show="frmAluno.txtNome.$error.required" aria-hidden="true"></span>
                  <small ng-show="frmAluno.txtEmail.$error.required" class="text-danger">Campo obrigatório! </small>
                </div>            
              </div>
            </div>
          </div>
          
          <hr/>
          
          <div class="row">
            <div class="col-md-6">
              <button type="submit" 
                      class="btn btn-primary"
                      ng-disabled="frmAluno.$invalid">Salvar</button>
                      
              <a href="#" 
                 class="btn btn-default"  
                 ng-click="ctrlAluno.cancel()">Cancelar</a>
            </div>
          </div>
        </form>
        
      </div>
  </div>
  
    
</div> <!-- ctrl -->

</div>
